<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APPSETTINGS_VALUE_MISSING"/>
    <add key="StringKey" value="Hello"/>
    <add key="IntKey" value="101"/>
    <add key="DateKey" value="2019-06-04"/>
    <add key="EnumKey" value="Table"/>
    <add key="log4net" value="log4net.config"/>
  </appSettings>

</configuration>