################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CsharpLibrary/v15
/CsharpLibrary/bin/Debug
/CsharpLibrary/obj/Debug
/CsharpLibrary.Tests/bin/Debug
/CsharpLibrary.Tests/obj/Debug
/packages
/CsharpLibrary/obj/Release
/CsharpLibrary.sln.cache
/.vs/CsharpLibrary/v14/.suo
